# Compiled source #
###################
build/
dist/
*.a
*.o
*.so

# Installaltion record #
########################
installed_files.txt

# Notebook files #
##################
notebook/

# In development #
##################


# Python EGG folder #
#####################
wLib.egg-info/
